<div class="container py-3">
  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
        <img src="assets/red-kokia-logo.svg" width="100px">
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Home</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Client Login</a>
      </nav>
    </div>

    <div class="pricing-header p-3 pb-md-4 mx-auto">
      <h1 class="display-4 fw-normal text-body-emphasis">BOOK AN APPOINTMENT</h1>
    </div>
  </header>

  <div class="my-5">
    <div class="p-5 text-center bg-body-tertiary">
      <div class="container py-5">
        <h1 class="text-body-emphasis">Booking Confirmation</h1>
        <p class="col-lg-8 mx-auto lead">
          Congratulations, you booking has been placed successfully.<br>
          An email with more details has been sent to the email address you provided
        </p>
      </div>
    </div>
  </div>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">

      <div class="col-6 col-md">
        <h5>Quick Links</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Blog</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Client Login</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">FAQ</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Features</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Help & Support</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Contact Us</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">+44 7443 264790</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">support@redkokia.com</a></li>
        </ul>
      </div>

    </div>
  </footer>
</div>
