<app-admin-layout [activeMenu]="'tenants'" [pageTitle]="'Tenants'" [pageSubTitle]="'Manage Tenants'">

  <button mat-raised-button color="primary" (click)="newTenant()" class="mb-4" >
    <mat-icon>add</mat-icon>
    Add Tenant
  </button>

  <div class="mat-elevation-z8">
    <div class="row p-2">
      <div class="col-md-12">
        <mat-form-field class="w-100">
          <mat-label>Filter</mat-label>
          <input matInput placeholder="Type to filter" (keyup)="applyFilter($event)" #input>
          <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <table mat-table [dataSource]="filteredTenants" >

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
      </ng-container>

      <ng-container matColumnDef="industry">
        <th mat-header-cell *matHeaderCellDef> Industry </th>
        <td mat-cell *matCellDef="let element"> {{element.industry ? element.industry.name : ''}} </td>
      </ng-container>


      <ng-container matColumnDef="contact">
        <th mat-header-cell *matHeaderCellDef> Contact </th>
        <td mat-cell *matCellDef="let element">
          {{element.contactName}}<br>
          {{element.companyEmail}}<br>
          {{element.companyPhone}}
        </td>
      </ng-container>

      <ng-container matColumnDef="reference">
        <th mat-header-cell *matHeaderCellDef> Reference </th>
        <td mat-cell *matCellDef="let element"> {{element.reference}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element">
          <span class="badge rounded-pill bg-success" *ngIf="element.isActive">Active</span>
          <span class="badge rounded-pill bg-danger" *ngIf="!element.isActive">Suspended</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item data-bs-toggle="modal" data-bs-target="#treatment-form" (click)="editTenant(element.id)">Edit</button>
            <button mat-menu-item data-bs-toggle="modal" data-bs-target="#treatment-form" (click)="toggleActive(element.id)">
              {{element.isActive ? "Suspend" : "Activate"}}
            </button>
            <a mat-menu-item href="users/{{element.id}}" >Users</a>
            <button mat-menu-item (click)="delete(element.id)">Delete</button>
          </mat-menu>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page">
    </mat-paginator>
  </div>



</app-admin-layout>
