<app-admin-layout [activeMenu]="'tenants'" [pageTitle]="'Tenants'" [pageSubTitle]="'Manage Tenants'">

  <button mat-raised-button color="primary" (click)="newTenant()" class="mb-4" >
    <mat-icon>add</mat-icon>
    Add Tenant
  </button>

  <table mat-table [dataSource]="tenants" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Phone Number </th>
      <td mat-cell *matCellDef="let element"> {{element.companyPhone}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.companyEmail}} </td>
    </ng-container>

    <ng-container matColumnDef="contact">
      <th mat-header-cell *matHeaderCellDef> Contact </th>
      <td mat-cell *matCellDef="let element"> {{element.contactName}} </td>
    </ng-container>

    <ng-container matColumnDef="reference">
      <th mat-header-cell *matHeaderCellDef> Reference </th>
      <td mat-cell *matCellDef="let element"> {{element.reference}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{tenant.isActive ? "Active" : "Suspended"}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item data-bs-toggle="modal" data-bs-target="#treatment-form" (click)="editTenant(tenant.id)">Edit</button>
          <button mat-menu-item data-bs-toggle="modal" data-bs-target="#treatment-form" (click)="toggleActive(tenant.id)">
            {{tenant.isActive ? "Suspend" : "Activate"}}
          </button>
          <a mat-menu-item href="users/{{tenant.id}}" >Users</a>
          <button mat-menu-item (click)="delete(tenant.id)">Delete</button>
        </mat-menu>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


</app-admin-layout>
