<app-admin-layout [activeMenu]="'tenants'" >

  <h4 *ngIf="tenant">Manage users for {{tenant.companyName}}</h4>
  <button mat-raised-button color="primary" (click)="newUser()" class="mb-4" >
    Add User
  </button>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>ID</th>
      <th>Names</th>
      <th>Username</th>
      <th>Role</th>
      <th class="text-right">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor=" let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.firstName + ' ' + user.lastName }}</td>
      <td>{{ user.username }}</td>
      <td>{{user.role}}</td>

      <td class="text-right">
        <button mat-button [matMenuTriggerFor]="menu" mat-raised-button color="primary">Actions</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item data-bs-toggle="modal" data-bs-target="#treatment-form" (click)="editUser(tenant.id)">Edit</button>
          <button mat-menu-item>Reset Password</button>
          <button mat-menu-item>Delete</button>
        </mat-menu>
      </td>
    </tr>
    </tbody>
  </table>


</app-admin-layout>
