<div class="container py-3">
  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a class="d-flex align-items-center link-body-emphasis text-decoration-none" href="https://redkokia.com">
        <img src="assets/red-kokia-logo.svg" width="100px">
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        
      </nav>
    </div>

    <div class="pricing-header p-3 pb-md-4 mx-auto">
      <h1 class="display-4 fw-normal text-body-emphasis">BOOK AN APPOINTMENT <span *ngIf="tenant">| {{tenant.companyName}}</span> </h1>
   </div>
  </header>

  <div>
    <div class="row mb-3">
      <div class="col-md-8 col-sm-12  mx-auto text-center ">
        <mat-stepper #stepper  linear="true" orientation="vertical">
          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Book Now</ng-template>
              <div class="row  mt-4">
                <div class="col-md-7 col-sm-12">
                  <mat-form-field class="w-100">
                    <mat-label>Select Package</mat-label>
                    <mat-select [(ngModel)]="bookingTreatments" formControlName="treatmentCtrl" multiple name = "bookingTreatments" required >
                      <input (keyup)="searchTreatmentsKeyup($event)" name="treatmentFilter" class="form-control" placeholder="Search for treatment">
                      <mat-optgroup  *ngFor="let category of filteredCategories"  [label]="category.category.name">
                        <mat-option *ngFor="let treatment of category.treatments" [value]="treatment">
                          {{treatment.name}} <span class="text-success" *ngIf="treatment.isPromotion"> (Promotion)</span>
                        </mat-option>
                      </mat-optgroup>

                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="w-100">
                    <mat-label>Select Therapist</mat-label>
                    <mat-select matInput [(ngModel)]="booking.employee" name="employee" formControlName="therapistCtrl">
                      <mat-option *ngFor="let employee of employees" [value]="employee">{{employee.firstName + ' ' + employee.surname}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-5 col-sm-12">
                  <div class="w-full flex flex-col justify-between p-4 rounded border text-start">
                    <div *ngFor="let treatment of bookingTreatments" class="mb-1">
                      <strong>{{treatment.name}}</strong><br>
                      {{ Utils.formatDuration(treatment.minimumDuration)}}
                      <span class="float-end">{{ treatment.price | currency:'ZAR' }}</span>
                    </div>
                    <div *ngIf="bookingTreatments.length ==0">Please select at least one service from the list</div>
                  </div>
                </div>
              </div>

              <div class="text-end">
                <button class="btn btn-primary border" (click)="fetchTimeSlots(tomorrow)" mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Select Date</ng-template>
              <div class="row">
                <div class="col-md-8 col-sm-12">
                  <mat-card class="demo-inline-calendar-card mt-4">
                    <mat-calendar (selectedChange)="fetchTimeSlots($event)" [(selected)]="booking.bookingDate" [minDate]="tomorrow"></mat-calendar>
                  </mat-card>
                </div>
                <div class="col-md-4 col-sm-12 pt-4">
                  <h6>Available timeslots</h6>
                  <mat-chip-listbox (change)="timeSlotSelected($event)" [(ngModel)]="selectedTimeSlot" aria-label="Available Timeslots" formControlName="timeSlotCtrl" name="selectedTimeSlot" required>
                    <mat-chip-option *ngFor="let timeSlot of availableTimeSlots" >{{timeSlot}}</mat-chip-option>
                  </mat-chip-listbox>
                </div>
              </div>

              <div class="text-end">
                <button class="btn btn-primary border me-4" mat-button matStepperPrevious>Back</button>
                <button class="btn btn-primary border" mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="thirdFormGroup">
            <form  [formGroup]="thirdFormGroup">
              <ng-template matStepLabel>Your Details</ng-template>

              <div class="row mt-4">
                <div class="col-md-6 col-sm-12">
                  <mat-form-field class="w-100">
                    <mat-label>First Name</mat-label>
                    <input [(ngModel)]="client.firstName" formControlName="firstNameCtrl" matInput name="firstName" required>
                  </mat-form-field>
                </div>
                <div class="col-md-6 col-sm-12">
                  <mat-form-field class="w-100">
                    <mat-label>Last Name</mat-label>
                    <input [(ngModel)]="client.surname" formControlName="lastNameCtrl" matInput name="lastName" required>
                  </mat-form-field>
                </div>

              </div>

              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <mat-form-field class="w-100">
                    <mat-label>Email Address</mat-label>
                    <input [(ngModel)]="client.email" formControlName="emailCtrl" matInput name="email" required>
                  </mat-form-field>
                </div>
                <div class="col-md-6 col-sm-12">
                  <mat-form-field class="w-100">
                    <mat-label>Phone Number</mat-label>
                    <input [(ngModel)]="client.phoneNumber" formControlName="phoneNumberCtrl" matInput name="phoneNumber" required>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <mat-form-field class="w-100">
                    <mat-label>Address</mat-label>
                    <input [(ngModel)]="client.address" formControlName="addressCtrl" matInput name="address">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <mat-form-field class="w-100">
                    <mat-label>Any special requests</mat-label>
                    <input [(ngModel)]="booking.clientNotes" formControlName="notesCtrl" matInput name="notes">
                  </mat-form-field>
                </div>
              </div>

              <div class="text-end">
                <button class="btn btn-primary border me-4" mat-button matStepperPrevious>Back</button>
                <button class="btn btn-primary border" mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Confirm</ng-template>

            <div *ngIf="bookingTreatments" class="text-start mb-4 mt-4">
              <div class="row border-bottom bg-light mb-2">
                <div class="col-md-6 col-sm-12">
                  <h5 class="mb-1">Treatments</h5>
                  <div *ngFor="let treatment of bookingTreatments" class="mb-1">
                    <strong>{{treatment.name}}</strong>
                    ( {{ Utils.formatDuration(treatment.minimumDuration)}} )
                    <span class="float-end">{{ treatment.price | currency:'ZAR' }}</span>
                  </div>
                  <div>
                    <strong>Total</strong>
                    <span class="float-end">{{calculateTotalAmount() | currency:'ZAR'}}</span>
                  </div>
                </div>
                <div class="col-md-6 col-sm-12">
                  <h5 class="mb-1">Date and time</h5>
                  <strong>{{displayDate | date:'EEEE d MMMM y HH:mm'}}</strong>
                </div>
              </div>
              <div class="row border-bottom">
                <div class="col-md-6 col-sm-12">
                  <h5 class="mb-1">Your Name</h5>
                  <strong>{{client.firstName}} {{client.surname}}</strong>
                </div>
                <div class="col-md-6 col-sm-12">
                  <h5 class="mb-1">Email</h5>
                  <strong>{{client.email}}</strong>
                </div>
              </div>
              <div class="row border-bottom bg-light pt-2 mb-2">
                <div class="col-md-6 col-sm-12">
                  <h5 class="mb-1">Phone Number</h5>
                  <strong>{{client.phoneNumber}}</strong>
                </div>
                <div class="col-md-6 col-sm-12">
                  <h5 class="mb-1">Address</h5>
                  <strong>{{client.address}}</strong>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h5 class="mb-1">Your Request</h5>
                  <strong>{{booking.clientNotes}}</strong>
                </div>
              </div>

            </div>

            <div class="text-end">
              <button class="btn btn-primary border me-4" mat-button matStepperPrevious>Back</button>
              <button *ngIf="!isLoading" (click)="saveBooking()" class="btn btn-primary border" mat-button>Confirm Booking</button>
              
              <button *ngIf="isLoading" class="btn btn-primary border" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Placing booking...
              </button>
            </div>
          </mat-step>
        </mat-stepper>



      </div>
      <div class="col-md-4 col-sm-12">

      </div>
    </div>

  </div>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">

      <div class="col-6 col-md">
        <a class="d-flex align-items-center link-body-emphasis text-decoration-none" href="https://redkokia.com">
          <img src="assets/red-kokia-logo.svg" width="100px">
        </a>
        <h5>Powered by RedKokia</h5>

      </div>
      <div class="col-6 col-md">

      </div>

    </div>
  </footer>
</div>

