<div class="container py-3">
  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
        <img src="assets/red-kokia-logo.svg" width="100px">
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Home</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Client Login</a>
      </nav>
    </div>

    <div class="pricing-header p-3 pb-md-4 mx-auto">
      <h1 class="display-4 fw-normal text-body-emphasis">BOOK AN APPOINTMENT</h1>
   </div>
  </header>

  <div>
    <div class="row mb-3">
      <div class="col-md-8 col-sm-12  mx-auto text-center ">
        <mat-stepper orientation="vertical"  #stepper linear="true">
          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Book Now</ng-template>
              <div class="row  mt-4">
                <div class="col-md-8 col-sm-12">
                  <mat-form-field class="w-100">
                    <mat-label>Select Package</mat-label>
                    <mat-select [(ngModel)]="treatment" name = "treatment" formControlName="treatmentCtrl" required >
                      <mat-option *ngFor="let treatment of treatments" [value]="treatment"  >
                        {{treatment.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-4 col-sm-12">
                  <mat-form-field class="w-100">
                    <mat-label>Select Duration</mat-label>
                    <mat-select [(ngModel)]="booking.duration" name = "duration" formControlName="durationCtrl" min="15" >
                      <mat-option value="15" >15 Min</mat-option>
                      <mat-option value="30" >30 Min</mat-option>
                      <mat-option value="60" >1 Hr</mat-option>
                      <mat-option value="90" >1 Hr 30 min</mat-option>
                      <mat-option value="120" >2 Hrs</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="text-end">
                <button mat-button matStepperNext class="btn btn-primary border">Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Select Date</ng-template>
              <div class="row">
                <div class="col-md-8 col-sm-12">
                  <mat-card class="demo-inline-calendar-card mt-4">
                    <mat-calendar [(selected)]="booking.bookingDate" [minDate]="tomorrow" (selectedChange)="fetchTimeSlots($event)"></mat-calendar>
                  </mat-card>
                </div>
                <div class="col-md-4 col-sm-12 pt-4">
                  <h6>Available timeslots</h6>
                  <mat-chip-listbox aria-label="Available Timeslots" [(ngModel)]="selectedTimeSlot" name="selectedTimeSlot" (change)="timeSlotSelected($event)" formControlName="timeSlotCtrl" required>
                    <mat-chip-option *ngFor="let timeSlot of availableTimeSlots" >{{timeSlot}}</mat-chip-option>
                  </mat-chip-listbox>
                </div>
              </div>

              <div class="text-end">
                <button mat-button matStepperPrevious class="btn btn-primary border me-4">Back</button>
                <button mat-button matStepperNext class="btn btn-primary border">Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="thirdFormGroup">
            <form  [formGroup]="thirdFormGroup">
              <ng-template matStepLabel>Your Details</ng-template>

              <div class="row mt-4">
                <div class="col-md-6 col-sm-12">
                  <mat-form-field class="w-100">
                    <mat-label>First Name</mat-label>
                    <input matInput [(ngModel)]="client.firstName" name="firstName" formControlName="firstNameCtrl" required>
                  </mat-form-field>
                </div>
                <div class="col-md-6 col-sm-12">
                  <mat-form-field class="w-100">
                    <mat-label>Last Name</mat-label>
                    <input matInput [(ngModel)]="client.lastName" name="lastName" formControlName="lastNameCtrl" required>
                  </mat-form-field>
                </div>

              </div>

              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <mat-form-field class="w-100">
                    <mat-label>Email Address</mat-label>
                    <input matInput [(ngModel)]="client.email" name="email" formControlName="emailCtrl" required>
                  </mat-form-field>
                </div>
                <div class="col-md-6 col-sm-12">
                  <mat-form-field class="w-100">
                    <mat-label>Phone Number</mat-label>
                    <input matInput [(ngModel)]="client.phoneNumber" name="phoneNumber" formControlName="phoneNumberCtrl" required>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <mat-form-field class="w-100">
                    <mat-label>Address</mat-label>
                    <input matInput [(ngModel)]="client.address" name="address">
                  </mat-form-field>
                </div>
              </div>

              <div class="text-end">
                <button mat-button matStepperPrevious class="btn btn-primary border me-4">Back</button>
                <button mat-button matStepperNext class="btn btn-primary border">Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Confirm</ng-template>

            <div *ngIf="treatment" class="text-start mb-4 mt-4">
              <table class="table table-striped">
                <tr class="p-2">
                  <td>Treatment: <strong>{{treatment.name}}</strong></td>
                  <td>Date: <strong>{{displayDate | date:'EEEE d MMMM y HH:mm'}}</strong></td>
                </tr>
                <tr class="p-2">
                  <td>Your Name: <strong>{{client.firstName}} {{client.lastName}}</strong></td>
                  <td>Email: <strong>{{client.email}}</strong></td>
                </tr>
                <tr class="p-2">
                  <td>Phone: <strong>{{client.phoneNumber}}</strong></td>
                  <td>Address: <strong>{{client.address}}</strong></td>
                </tr>
              </table>

            </div>

            <div class="text-end">
              <button mat-button matStepperPrevious class="btn btn-primary border me-4">Back</button>
              <button mat-button (click)="saveBooking()" class="btn btn-primary border">Confirm Booking</button>
            </div>
          </mat-step>
        </mat-stepper>



      </div>
      <div class="col-md-4 col-sm-12">
        Some instructions and help
      </div>
    </div>

  </div>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">

      <div class="col-6 col-md">
        <h5>Quick Links</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Blog</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Client Login</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">FAQ</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Features</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Help & Support</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Contact Us</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">+44 7443 264790</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">support@redkokia.com</a></li>
        </ul>
      </div>

    </div>
  </footer>
</div>
