<app-layout [activeMenu]=" isPromotions ? 'promotions' : 'treatments'" >

  <button mat-raised-button color="primary" (click)="newTreatment()" class="mb-4" >
    Add {{isPromotions ? 'Promotion' : 'Treatment'}}
  </button>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
      <th>Duration</th>
      <th>Status</th>
      <th class="text-right">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor=" let treatment of treatments">
      <td>{{ treatment.id }}</td>
      <td>{{ treatment.name }}</td>
      <td>{{ treatment.category?.name }}</td>
      <td>{{ treatment.price }}</td>
      <td>{{ Utils.formatDuration( treatment.minimumDuration) }}</td>
      <td>Active</td>
      <td class="text-right">
        <button mat-button [matMenuTriggerFor]="menu" mat-raised-button color="primary">Actions</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item data-bs-toggle="modal" data-bs-target="#treatment-form" (click)="editTreatment(treatment.id)">Edit</button>
          <button mat-menu-item  (click)="deleteTreatment(treatment.id)">Delete</button>
        </mat-menu>
      </td>
    </tr>
    </tbody>
  </table>


</app-layout>
