<app-layout [activeMenu]="'treatments'" >

  <button mat-raised-button color="primary" (click)="newTreatment()" class="mb-4" >
    Add Treatment
  </button>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Duration</th>
      <th>Status</th>
      <th class="text-right">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor=" let treatment of treatments">
      <td>{{ treatment.id }}</td>
      <td>{{ treatment.name }}</td>
      <td>{{ treatment.price }}</td>
      <td>{{ treatment.minimumDuration }} to {{treatment.maximumDuration}} min</td>
      <td>Active</td>
      <td class="text-right">
        <button mat-button [matMenuTriggerFor]="menu" mat-raised-button color="primary">Actions</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item data-bs-toggle="modal" data-bs-target="#treatment-form" (click)="editTreatment(treatment.id)">Edit</button>
          <button mat-menu-item>Delete</button>
        </mat-menu>
      </td>
    </tr>
    </tbody>
  </table>


</app-layout>
